.indioBackGround1{
    background : #7d6cf8;
    border-color: #584cb0;
    /* height: 100; */
}

.indioBackGround2{
    /* background : #b2a8ff; */
    border-color :  #b2a8ff;
    color : #b2a8ff;
    background: white;
}