.mylist {
    background : red;
    max-height: 400px;
    border:2px solid rgb(233, 233, 235);
    border-radius: 10px;
    overflow-y: scroll;
}

.results-list li{
    border-radius: 5px;
}
.results-list li:hover{
    background:#1F51FF;
    color : white;
    cursor: pointer;
}